/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header button {
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

header button:hover {
    background-color: #105c13;
}
#delete-product-btn:hover  {
    background-color: #990c0c;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 20px;
}

.delete-checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgba(0, 255, 217, 0.1);
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.3em;
}

.product-shadow {
    box-shadow: 6px 6px 5px rgba(255, 0, 0, 0.1);
}

.product input[type="checkbox"] {
    margin-right: 15px;
}

.product p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.product p:first-of-type {
    font-weight: bold;
}

.product p:nth-of-type(n+4) {
    font-size: 14px;
    color: #555;
}

.product p:nth-of-type(4) {
    font-weight: bold;
}