RewriteEngine On
RewriteRule ^add-product$ add-product.php [L]
RewriteRule ^save_product$ save_product.php [L]


# Allow existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
# Block direct access to any PHP file
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.php$ - [F,L]
